*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 70%;
    height: min-content;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);;
}
.container-header{
    padding: 20px;
}

.container-skills{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.container-skills ul>li{
    list-style-type: none;
}

.left-side-container{
    padding:10px 10px 0px 20px;
    background-color:rgb(32, 30, 30);
    color: white;
    width: 75%;
}
.right-side-container{
    padding: 30px;
}
.info-experience{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.experience-container p{
    margin: 10px 0px;
}
.profile-container, .studies-container, .experience-container, .tehcnology-container{
    padding: 10px;
}